/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 22px;
}

.h1-subtitle {
    margin-bottom: 30px;
}

body {
    /*display: flex;
    justify-content: center;*/
}

/****** Header / Nav ***********/

header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: 20px auto 20px auto;
}

#logo {
    width: 190px;
    height: 60px;
   
}

.nav {

}
.menu {
    display: flex; 
    
}

.menu li:hover {
    border-top: solid 2px #0065FC ;
}

.nav-links {
    margin: 0 0 0 20px;
    padding-top: 10px;
    list-style-type: none;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
}

/****** Search bar ***********/

.search-bar {
    border: solid 1px #F2F2F2;
    display: flex;
    justify-content: space-between;
    width: 377px;
    height: 49px;
    border-radius: 15px; 
    margin-bottom: 20px;   
}

.search-bar i {
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    display: flex;
    justify-content: space-between;
}

.search-town {
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-submit {
    padding: 10px;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"]
{
    border: 0;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

input[type="submit"]
{
    margin: 0;
    padding: 0;
    line-height: 100%;
    border: 0;
    background: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
}

.filters-nav {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.facet-list {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
}

.facet-icon {
    margin-right: 10px;
}

.facet-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding: 0 20px 0 20px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    height: 40px;
}

.facet-details:hover {
    background-color: #DEEBFF;
}

.accommodation-info {
    display: flex;
    margin-bottom: 30px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.accomodation-cards {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: space-between;
}

.accomodation-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.accomodation-cards img {
    width: 100%;
    height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.accomodation-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.accomodation-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.accomodation-cards .card-subtitle {
    margin: 0;
}

.accomodation-cards .card-rating {
    margin-bottom: 5px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/

.activities-block {
   

}
.activities {

}

.activities-block section {
    padding: 30px;
    box-sizing: border-box;
}

.activities-title {
    
}

.activities-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
}

.activities-cards .card {
    width: 290px;
}

.activities-cards img {
    width: 100%;
    height: 330px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.activities-cards .card-title {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
}

/****** Footer ***********/

footer {
    background-color: var(--main-bg-color);
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
}

footer li {
    list-style-type: none;
    padding-bottom: 10px;
    
}

.footer-title {
    font-size: 16px;
    font-weight: bold;
}

.footer-column {
    min-width: 220px;
    margin-right: auto;

}

footer ul {
    padding-left: 0px;
    margin-bottom: 0px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}